<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html ng-app="app">
	<head>
		<title>EBI | TFTEEN | Perguntados :: gospel</title>
		<link href="./css/lazo/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="./js/lazo/jquery.min.js"></script>

		<script type="text/javascript" src="./js/lazo/move-top.js"></script>
		<script type="text/javascript" src="./js/lazo/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		<link href="./css/lazo/style.css" rel='stylesheet' type='text/css' />
   		 <!-- Custom Theme files -->
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		

		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'/>
		<script>
		<!-- 
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
			 -->
		</script>
	</head>
	<body ng-controller="MatchCtrl">
			<div id="home" class="header">
					<div class="top-header bounceInDown" data-wow-delay="0.4s">
						<div class="container">
						<div class="logo">
							<a href="#"><img src="images/logo_ebi_web.jpg"></img></a>
						</div>
						 <nav class="top-nav">
							<ul class="top-nav">								
								<li><a href="#" class="scroll">
									{{player1.name}}
									<span class="well">
										<span ng-repeat="question in player2.questions">
										 <img src="images/vermelho.jpg" width="20" height="20" class="img-circle" ng-show="question.correctAnswered == false"></img>  		
										 <img src="images/verde.jpg" width="20" height="20" class="img-circle" ng-show="question.correctAnswered == true"></img>					<img src="images/preto.jpg" width="20" height="20" class="img-circle" ng-show="question.correctAnswered == null"></img>  
										 </span>
										 &nbsp;
									 </span>
									</a>
									
								</li>
								<li><a href="#" class="scroll">{{player2.name}}
									<span class="well">
										<span ng-repeat="question in player2.questions">
										 <img src="images/vermelho.jpg" width="20" height="20" class="img-circle" ng-show="question.correctAnswered == false"></img>  		
										 <img src="images/verde.jpg" width="20" height="20" class="img-circle" ng-show="question.correctAnswered == true"></img>					<img src="images/preto.jpg" width="20" height="20" class="img-circle" ng-show="question.correctAnswered == null"></img>  
										 </span>
										 &nbsp;
									 </span>
								</a></li>								
							</ul>
							<a href="#" id="pull"><img src="images/nav-icon.png" title="menu" ></img></a>
						</nav>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<script src="./js/lazo/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });

			    });
			  </script>
			    <div  id="top" class="callbacks_container">
			      <ul class="rslides" id="slider4">
			        <li>
			          <img src="images/turminha1.png" alt=""></img>
			          <div class="caption bounceInDown" data-wow-delay="0.99s">
			          	<div class="slide-text-info" >
			          		<span>{{currentPlayer.questions[1].description}}</span>


			          		<br/><strong><h1>Sua restposta esta errada</h1></strong>
			          		
			          		<div class="slide-btns" >
			          			<a class="livedemo" href="#" ng-repeat="alternative in currentPlayer.questions[1].alternatives">{{alternative.value}}</a>			          						
			          		</div>			          	
			          	</div>
			          </div>
			        </li>
			        <li>
			          <img src="images/turminha2.png" alt=""></img>
			        <div class="caption">
			          	<div class="slide-text-info bounceInDown" data-wow-delay="0.99s">
			         		<span>{{currentPlayer.questions[1].description}}</span>
			          		<div class="slide-btns" >
			          			<a class="livedemo" href="#" ng-repeat="alternative in currentPlayer.questions[1].alternatives">{{alternative.value}}</a>			          						
			          		</div>	
			          		<br/><br/><br/>
			          	</div>
			          </div>
			        </li>
			        <li>
			          <img src="images/turminha3.png" alt=""></img>
			          <div class="caption">
			          	<div class="slide-text-info bounceInDown" data-wow-delay="0.99s">
			         		<span>{{currentPlayer.questions[1].description}}</span>
			          		<div class="slide-btns" >
			          			<a class="livedemo" href="#" ng-repeat="alternative in currentPlayer.questions[1].alternatives">{{alternative.value}}</a>			          						
			          		</div>	
			          	</div>
			          </div>
			        </li>
			      </ul>
			    </div>
			    <div class="clearfix"> </div>



     <script type="text/javascript" src="./js/angular.js"></script>
     <script type="text/javascript" src="./js/app.js"></script>

	</body>
</html>
